.body {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.mainContainer {
  padding: 25px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: black;
}

.header {
  flex: 2;
}

.tv-show-detail {
  color: white;
  flex: 4;
}

.recommendations {
  flex: 2;
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb:horizontal {
  background: rgba(0, 0, 0, 0.61);
}